@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background-image: url("/background2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.fade {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .logo {
    background-image: url("/logo2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
  
.logo2 {
    background-image: url("/logo2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}